
[".emacs.d"]
  type = "git-repo"
  url = "https://github.com/syl20bnr/spacemacs.git"
  refreshPeriod = "168h"
[".gdbinit"]
  type = "file"
  url = "https://git.io/.gdbinit"
  refreshPeriod = "168h"
[".gdbinit.d/llvm/prettyprinters.py"]
  type = "file"
  url = "https://raw.githubusercontent.com/llvm/llvm-project/main/llvm/utils/gdb-scripts/prettyprinters.py"
  refreshPeriod = "168h"

