
[".emacs.d"]
  type = "git-repo"
  url = "https://github.com/syl20bnr/spacemacs.git"
  refreshPeriod = "168h"
[".gdbinit"]
  type = "file"
  url = "https://git.io/.gdbinit"
  refreshPeriod = "168h"
[".gdbinit.d/llvm/prettyprinters.py"]
  type = "file"
  url = "https://raw.githubusercontent.com/llvm/llvm-project/main/llvm/utils/gdb-scripts/prettyprinters.py"
  refreshPeriod = "168h"
{{- if eq .chezmoi.os "windows" }}
["AppData/Local/nvim"]
{{- else }}
[".config/nvim"]
{{- end }}
  type = "git-repo"
  url = "https://github.com/LazyVim/starter"
  refreshPeriod = "168h"
{{- if eq .chezmoi.os "darwin" }}
[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
{{- end }}

